<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Talkia Custom standard">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <arg value="sp"/>

    <file>src/</file>
    <file>public/</file>

    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength.TooLong"/>
    </rule>

    <rule ref="Internal.NoCodeFound">
        <severity>0</severity>
    </rule>

    <!-- Custom rules -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
</ruleset>